extends ../layouts/default

block vars
  - var title = "home";
block content
  header(role='banner')
    section
      h1 Hack for Refugees
      h2 Nobody can do everything, <br>but everybody can do something.

      span.buttons
        a.btn.btn--orange(href='#cases') Want to contribute?
        a.btn.btn--blue(href='#organize') Want to organize a hack?
        a.btn(href='http://hackforrefugees.github.io/showcase') Current Projects

  main(role="main")
    section.motivation
      article.motivation__text
        h1.motivation__text__header Ideas, Hack, Release.
        p.
          Currently there are several millions of people that have been forced to flee from their home countries and become refugees. Sweden is one of the countries that take in most refugees per capita, this year 140-150 thousand refugees are expected to arrive in Sweden. This is a huge increase from previous years, causing major challenges for the organisations trying to help the refugees. Several of these challenges can be solved with IT.

    section#cases.cases
      article.cases__text
        h1.cases__text__header Want to help out? That's awesome!
        p.
          We just finished our first Hackaton and have dozen of projects that need contributers. Since we believe in open-source-based projects, everything is stored on github.

        p Click on the link below the see all the available projects.

        span.buttons
          a.btn.btn--white(href='http://hackforrefugees.github.io/showcase') Projects

    section#organize.organize
      article.organize__text
        h1.organize__text__header Be an Organizer!
        p.
          We organized a hack on the 5-6 of December in Gothenburg, where we gathered a large group of programmers, designers and other tech people. Together they built many tools that can be helpful for both the refugees and the volunteers.
        p.
          There is a lot of smart people out there that want to contribute in some way, and a hackaton is a very efficient way
          of connecting these people.
        p.
          If you are interested in organizing a Hack for Refugees hackaton in your town, please let us know and we'll help you
          as much as we can.

        span.buttons
          br
          a.btn.btn--orange(href='/organizer') Sign up as an organizer

      div(id="google-maps")

    //- section.faq
    //-   article.faq__text
    //-     h1.faq__text__header Frequently asked Questions

    //-     h2.faq__text__header
    //-     p.
    //- section.sponsors
    //- section.speakers
    //- section.organisers
    //- section#sponsors.sponsors


    section.contact
      article.contact__text
        h1.contact__text__header Contact
        p.
          If you have any ideas or would like to help out, we would love hear from you. Just send us an email at
          #[a(class="color-white" href='mailto:hello@hackforrefugees.com') hello@hackforrefugees.com]
