extends ../layouts/default

block vars
  - var title = "home";
block content
  header(role='banner')
    section
      h1 dApp-athon
      h3.date-banner 27 July 2016
      h2 Build a decentralized<br>future - reimagined

      span.buttons
        a.btn(href='#hack') Want to attend?

  main(role="main")
    section.motivation
      article.motivation__text
        h1.motivation__text__header Heading
        p.
          Lorem ipsum
    section#hack.hack
      article.hack__text
        h1.hack__text__header The hack
        p We are inviting all attendees of   
            a(href="http://smartcon2016.jp/") Smart Contract Conference Japan 2016
            to participate in a one-day hackathon during the second day of the conference.
        p Developers, designers, business-people are all welcome to patricipate.
        p You can come as part of a team, but we will mix and match teams during the first day of the conference.

        span.buttons
          br
          a.btn.btn--orange(href='/register' target="_blank") Sign up now

        p
          h2.hack__text__header Location
          span
            a(href="https://goo.gl/maps/uupjZQUzpUE2" target="_blank") Toranomon Hills Forum


      div(id="google-maps")

    section.faq
      article.faq__text
        h1.faq__text__header Frequently asked Questions
        h2.faq__text__header I am not a developer....
        p.
          No problem! All attendees of the conference are welcome to attend and we will do our best to create balanced teams for those of you who are not yet part of a team. We will have coaching on-spot.

        h2.faq__text__header How should I prepare?
        p.
          Deploy your first contract to Azure's Blockchain-as-a-service.


        h2.faq__text__header Will there be prizes?
        p.
          Yes. Stay tuned for details.
    //- section.sponsors
    //- section.speakers
    //- section.organisers
    section#sponsors.sponsors
      article.sponsors__text
        h1.sponsors__text__header Sponsors
        ul.three
          li
            figure
              a(href="http://www.consensys.net/")
                img(src="/images/sponsors/sponsor-consensys.png")
          li
            figure
              a(href="http://www.microsoft.com/")
                img(src="/images/sponsors/sponsor-microsoft.png")
          li
            figure
              a(href="http://www.smartcontract.jp/")
                img(src="/images/sponsors/sponsor-smartcontract.png")
          li
            figure
              a(href="https://www.ethereum.org/")
                img(src="/images/sponsors/sponsor-ethereum.png")


    section.contact
      article.contact__text
        h1.contact__text__header Contact
        p.
          If you have any questions about the hackathon, please just send an email to
          #[a(class="color-white" href='mailto:robert@smartcontract.jp') robert@smartcontract.jp]
