extends ../layouts/default

block vars
  - var title = "home";
block content
  header(role='banner')
    section
      h1 Hack for Refugees
      h3.date-banner 5 - 6 December 2015
      h2 Nobody can do everything, <br>but everybody can do something.

      span.buttons
        a.btn(href='#hack') Want to attend?
        a.btn.btn--outlined(href='/suggest' target="_blank") Suggest a project

  main(role="main")
    section.motivation
      article.motivation__text
        h1.motivation__text__header Hello, good to see you here!
        p.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    section#cases.cases
      header.cases__text
        h1.cases__text__header Inspirational Cases
        p.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      ul
        li
          figure
            img(src="/images/icons/interpret.svg")
          span Interpretation
        li
          figure
            img(src="/images/icons/food.svg")
          span Food
        li
          figure
            img(src="/images/icons/housing.svg")
          span Housing
        li
          figure
            img(src="/images/icons/wifi.svg")
          span Wifi
        li
          figure
            img(src="/images/icons/jobs.svg")
          span Jobs
        li
          figure
            img(src="/images/icons/education.svg")
          span Education

      footer
        h1 More ideas?
        p Do you have an idea for another case that we have missed? Please help us out!

        span.buttons
          a.btn.btn--outlined(href='/suggest' target="_blank") Suggest a case

    section#hack.hack
      article.hack__text
        h1.hack__text__header The hack
        p.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        p
          h2.hack__text__header Location
          span
            a(href="https://goo.gl/maps/JLHmvfAhHDE2" target="_blank") Burt - Vallgatan 27, Gothenburg


        span.buttons
          a.btn.btn--outlined(href='/register' target="_blank") RSVP for the hack!
      div(id="google-maps")

    section.sponsors
    section.speakers
    section.organisers
