// Colors

$color-green: green;
$color-blue: #4569ff;
$color-red: red;
$color-orange: #ff6e40;
$color-yellow: #f7c201;
$color-beige: beige;
$color-pink: pink;
$color-white: white;
$color-grey: grey;
$color-light-grey: lighten(grey, 10);
$color-black: black;

$background-color: $color-white;

$text-color: $color-black;

$text-color-on-dark: #1E1E1E;
$link-color: lighten($color-orange, 10);
// Typography
$base-font: 'bariol_regularregular', serif;
$base-size: 17;
$leading: 27;

$lineheight: ($leading / $base-size) * 1rem;

$serif:     Georgia, serif;
$mono:      Menlo, monospace;
$headings:  'Pacifico', serif;

// Measures

$page-width:        90%;
$max-width:         40rem;

$desktop:           1700px;
$laptop:            1280px;
$tablet:            768px;
$handheld:          481px;
