extends ../../layouts/dashboard

block content
  | If you are not redirected automatically, please click the link to continue to the
  a(href='http://dashboard.hackforrefugees.com') dashboard.hackforrefugees.com.
