doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='refresh', content='1;url=http://dashboard.hackforrefugees.com')
    script(language='javascript').
      window.location.href = "http://dashboard.hackforrefugees.com"
    title Page Redirection
  body
  block content
